/* AnimalCard.module.css */

.animal-card {
    margin-left: 100px;
    width: 400px; /* Add 'px' for width */
    height: 374px; /* Add 'px' for height */
    border-radius: 10px;
    background-color: white;
    border-width: 5px;
}

.animalCardPhoto {
    width: 200px;
    height: 200px; /* Add 'px' for height */
}

.animalCardInfo {
    font-family: sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: brown;
    width: 374px;
    border-radius: 10px;
}


.animalCardText {
    display: flex;
    flex-direction: column;
}

.nameDog {
    font-weight: 500;
}

.trainerHours {
    display: flex;
    flex-direction: row;
    font-weight: 200;
    color: lightgray;
}
