.container {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
    overflow-y: hidden;
}

.loginBox {
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 40%;
}

.footer {
    height: 8%;
    text-align: center;
    color: #000000B2;
    font-size: 14px;
    display: flex;
}

.input {
    width: 100%;
    background-color: white;
    border: 0;
    border-bottom: solid 2px #D21312;
    font-size: 15px;
    color: black;
}

.input:focus {
    outline: 0;
}

.logInButton {
    width: 100%;
    background-color: #D21312;
    ;
    font-size: 18px;
    height: 15%;
    border-radius: .5em;
    color: white;
}

.logInButton:hover {
    cursor: pointer;
}

.signUp:hover {
    cursor: pointer;
}

.svg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.circle {
    fill: #ED2B2A;
}