.body {
    display: flex;
    flex-direction: row;
    font-family: "Heebo", sans-serif;
    flex: 1;
    overflow: hidden;
}

.right_header_yescreate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 5px;
    color: #666;
    font-size: larger;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2);
}

.createButton {
    display: flex;
    flex: row;
    gap: 10px;
}

.createButton img {
    cursor: pointer;
}

.right_header_nocreate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    color: #666;
    font-size: larger;
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.left {
    flex: 0 0 250px;
    background-color: white;
}

.right {
    flex: 1;
    overflow-y: auto;
    background-color: #fff;
}
    