.bar {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.titletext {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    
}