.listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    margin: 10px;
    gap: 30px;
}