.listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    gap: 20px;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    gap: 30px;
}

.button {
    border-radius: 10px;
    padding: 15px;
    height: 20px;
    width: 50px;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D21312;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #c41312;
}